<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<title>
    {{- if .IsHome -}}
        {{ .Site.Title }}
    {{- else -}}
        {{ .Title }} | {{ .Site.Title }}
    {{- end -}}
</title>

<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
<meta name="author" content="{{ .Site.Params.author }}">

{{- /* Determine image for social sharing */ -}}
{{- $ogImage := "" -}}
{{- with .Params.image -}}
    {{- $ogImage = . | absURL -}}
{{- else -}}
    {{- with .Site.Params.ogImage -}}
        {{- $ogImage = . | absURL -}}
    {{- end -}}
{{- end -}}

<!-- Open Graph / Facebook -->
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:title" content="
    {{- if .IsHome -}}
        {{ .Site.Title }}
    {{- else -}}
        {{ .Title }}
    {{- end -}}
">
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
{{- with $ogImage }}
<meta property="og:image" content="{{ . }}">
{{- end }}

<!-- Twitter -->
<meta property="twitter:card" content="{{ if $ogImage }}summary_large_image{{ else }}summary{{ end }}">
<meta property="twitter:url" content="{{ .Permalink }}">
<meta property="twitter:title" content="
    {{- if .IsHome -}}
        {{ .Site.Title }}
    {{- else -}}
        {{ .Title }}
    {{- end -}}
">
<meta property="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
{{- with $ogImage }}
<meta property="twitter:image" content="{{ . }}">
{{- end }}

<!-- Canonical -->
<link rel="canonical" href="{{ .Permalink }}">

<!-- RSS -->
{{- if .Site.Params.social.rss }}
<link rel="alternate" type="application/rss+xml" href="{{ "/index.xml" | relURL }}" title="{{ .Site.Title }}">
{{- end }}

<!-- Favicon -->
<link rel="icon" type="image/x-icon" href="{{ .Site.Params.favicon | relURL }}">

<!-- Schema.org JSON-LD -->
{{- if .IsHome }}
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "WebSite",
    "name": "{{ .Site.Title }}",
    "url": "{{ .Site.BaseURL }}",
    "description": "{{ .Site.Params.description }}"
    {{- with .Site.Params.author }},
    "author": {
        "@type": "Person",
        "name": "{{ . }}"
    }
    {{- end }}
}
</script>
{{- else if .IsPage }}
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "Article",
    "headline": "{{ .Title }}",
    "url": "{{ .Permalink }}",
    "datePublished": "{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}",
    "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}",
    "description": "{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}"
    {{- with .Site.Params.author }},
    "author": {
        "@type": "Person",
        "name": "{{ . }}"
    }
    {{- end }}
    {{- with $ogImage }},
    "image": "{{ . }}"
    {{- end }}
}
</script>
{{- end }}
